.cover__link{
  text-decoration: none;
}
.cover__link::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background: rgba(42, 44, 47, 0.3);
  z-index: -1;
  transition: 0.3s;
}

.cover__link:hover::before {
  background: rgba(42, 44, 47, 0.8);
}