@import url(./__image/photo-grid__image.css);

.photo-grid {
  width: calc(100% * (1184 / 1280));
  max-width: 1184px;
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  padding: 92px 0 0;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    width: calc(100% * (928 / 1024));
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    width: calc(100% * (720 / 768));
    max-width: 720px;
    padding: 88px 0 0;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    width: calc(100% * (288 / 320));
    max-width: 288px;
    padding: 64px 0 0;
  }
}