@import url(./__logo/header__logo.css);
@import url(./__list/header__list.css);
@import url(./_lang-link/header__lang-link.css);
@import url(./_lang-link/_underlined/header__lang-link_underlined.css);

.header {
  position: relative;
  width: calc(100% * (984 / 1280));
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 984px;
  height: 44px;
  padding: 34px 0 0;
}

@media screen and (max-width: 1024px) {
  .header {
    width: calc(100% * (928 / 1024));
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% * (720 / 768));
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: calc(100% * (288 / 320));
    max-width: 288px;
  }
}