.lead__subtitle {
  max-width: 620px;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  margin: 32px 0 0;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    width: calc(100% * (720 / 768));
  }
}

@media screen and (max-width: 580px) {
  .lead__subtitle {
    font-size: 24px;
    line-height: 30px;
  }
}

@media screen and (max-width: 452px) {
  .lead__subtitle {
    font-size: 19px;
    line-height: 25px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin: 16px 0 0;
  }
}