.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 4px 0 0;
  margin: 0;
  transition: var(--link-transition);
}

.place__link:hover {
  opacity: var(--hovered-link-opacity);
}

@media screen and (max-width: 320px) {
  .place__link {
    padding-left: 16px;
    padding-right: 16px;
  }
}