.cover__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(42, 44, 47, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: .3s linear;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, 0.8);;
}