.footer__list {
  display: flex;
  list-style: none;
  gap: 18px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .footer__list {
    gap: 32px;
    flex-direction: column;
    justify-content: space-between;
  }
}