@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__list/footer__list.css);

.footer {
  width: calc(100% * (1184 / 1280));
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 92px;
  padding-bottom: 24px;
}


@media screen and (max-width: 1024px) {
  .footer {
    width: calc(100% * (928 / 1024));
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% * (720 / 768));
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    align-items: start;
    gap: 48px;
    align-self: start;
    padding-left: 16px;
    width: 165px;
  }
}