.place__url-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;
  letter-spacing: .2em;
  color: #AAAAAA;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 320px) {
  .place__url-heading {
    margin-left: 16px;
  }
}